.card__imageMobile{
    width: 100%;
    border-radius: 5% 5% 0 0;
}

.card__imageDesktop{
    display: none;
}

@media screen and (min-width:992px){
    .card__imageMobile{
        display: none;
    }

    .card__imageDesktop{
        display: block;
        max-width: 50%;
        border-radius: 5% 0 0 5%;
    }
}